@import url(https://fonts.googleapis.com/css?family=Ewert|Pacifico);

body {
background-image: url("background.jpg");
background-repeat: repeat;
}
main{
  width: 700px;
  margin: 0 auto;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 20px;
  background-color: tomato;
  transform: rotate(-2deg);

}

h2 {
  font-family: 'Ewert', cursive;
  font-weight: normal;
  color: white;
  font-size: 60px;
  /*transform: rotate(-7deg);*/
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: #FEF9E7;
}

#albums {
padding:0;
margin:0;
list-style-type:none;
}

.album{
  padding: 5px;
}

